<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Dojos and Ninjas </title>
     </head>
    <body>
        <form action="/crear/ninja" method="post">
            <h2>New Dojo</h2>
            <div class="form-group">
                <label for="dojo_id">Dojo:</label>
                <select name="dojo_id">
                    {% for d in dojos %}
                    <option value="{{d.id}}">{{d.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
            </div>
            <div>
                <label for="age">Age:</label>
                <input type="number" name="age">
            </div>
            <input type="submit" value="Add Ninja">
        </form>
    </body>
</html>